# Compiled Object files

*.slo

*.lo

*.o

*.obj



# Compiled Dynamic libraries

*.so

*.dylib

*.dll
!Release/AIUR.dll



# Compiled Static libraries

*.lai

*.la

*.a

*.lib



# Executables

*.exe

*.out

*.app



# Other

*.exp

*.pdb

*.ilk



# VC++


*.htm
*.dep
*.idb
*.pdb
*.ncb
*.suo
*.ncb
*.suo
